<header class="header">
  <div class="header-wrapper">
      <a class="header-logo" href="./index.html">
        <svg width="109" height="28">
          <use href="./images/logo-full.svg#icon-logo"></use>
        </svg>
      </a>
    <div class="header-navbar">
      <div class="close-nav">
        <button>
          <svg width="28" height="28">
            <use href="./images/icons.svg#icon-x-close"></use>
          </svg>
        </button>
      </div>
      <nav>
        <ul>
          <li class="header-link">
            <a class="header-current" href="./index.html">HOME</a>
          </li>
          <li class="header-link">
            <a class="header-current" href="./shopping-list.html">SHOPPING LIST</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header-controls">
      <div class="header-toggle">
        <input type="checkbox" id="togle-swith" />
        <label for="togle-swith" class="js-change-theme"></label>
      </div>
      <div class="header-navbar">
        <a href="#">SIGN UP</a>
      </div>
      <div class="header-menu">
        <button><svg width="28" height="28">
          <use href="./images/icons.svg#icon-burger"></use>
        </svg></button>
      </div>
    </div>
  </div>
</header>
