<header class="header__container">
  <div class="header__logo">
    <a href="./index.html">
      <svg width="109" height="28">
        <use href="./images/logo-full.svg#icon-logo"></use>
      </svg>
    </a>
  </div>

  <nav class="header-nav-list">
    <ul class="header-list">
      <li>
        <a class="header__link header-home" href="./index.html">HOME</a>
      </li>
      <li>
        <a class="header__link header-shopping" href="./shopping-list.html">SHOPPING LIST
          <svg width="20" height="20">
            <use href="./images/icons.svg#icon-cart"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>

  <div class="header__toggle-menu">

    <div class="header__switch-btn"></div>

    <div class="header-sighUp">
      <button class="sighUp-btn">Sign Up
        <svg width="20" height="20">
          <use href="./images/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>

    </div>

    <div class="header__menu">
      <button class="header__close-btn">
        <svg width="28" height="28">
          <use href="./images/icons.svg#icon-x-close"></use>
        </svg>
      </button>

      <button class="header__burger-btn">
        <svg class="header__svg-light" width="28" height="28">
          <use href="./images/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
