
.button {
  position: absolute;
  top: 300px;
  left: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 300px;
  color: red;
  background-color: black;
  padding: 10px 32px;
  min-width: 216px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  line-height: 1.9;
}

.btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  background: inherit;
  border: none;
  color: $dark-color;
  transition: color 0.3s ease;

  &:hover,
  &:focus {
    color: $blue-color;
    border: none;
  }

  &__icon {
    fill: currentColor;
  }

  @media screen and (min-width: 768px) {
    top: 24px;
    right: 24px;
    width: 28px;
    height: 28px;
  }
}

body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: inherit;
}

body.show-modal .modal-for-book {
  transform: translate(-50%, -50%);
}

.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(17, 17, 17, 0.4);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity $cubic-time, visibility $cubic-time;
  overflow-y: scroll;
  overflow: hidden;
}

.modal-for-book {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 22px;
  top: 50%;
  left: 50%;
  width: calc(100% - 60px * 2);
  
  background: $white-color;
  border: 2px solid $dark-color;
  border-radius: 18px;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity $cubic-time, visibility $cubic-time;


  @media screen and (min-width: 375px) and (max-width: 767px) {
    max-height: calc(100% - 20px * 2);
    
    overflow-y: scroll;
  }

  @media screen and (min-width: 375px) {
    width: 335px;
  }

  @media screen and (min-width: 768px) {
    width: 579px;
    min-height: 465px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.book-details {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
  }

  &__cover {
    margin-bottom: 14px;
    width: 287px;
    height: 408px;
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;

    @media screen and (min-width: 768px) {
        width: 192px;
        height: 281px;
        margin-bottom: 0;
    }
  }

  &__info {
    @media screen and (min-width: 768px) {
      width: 280px;           
    }
  }

  &__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(18 / 16);   
    
    @media screen and (min-width: 768px) {
        margin-bottom: 8px;
        font-size: 24px;
        line-height: calc(28 / 24);
    }
  }

  &__author {
    margin-bottom: 18px;
    font-style: italic;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: -0.04em;
    color: $text-gray-color;

    @media screen and (min-width: 768px) {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: calc(18 / 14);
    }
  }
  
  &__description {
    max-width: 287px;
    margin-bottom: 14px;
    font-size: 14px;
    line-height: calc(18 / 14);

    @media screen and (min-width: 768px) {
        margin-bottom: 20px;
    }
  }
}


.modal-shopping-list {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;

  &__item {
    display: flex;
    margin-bottom: 10px;
  }
}


.buy-link {
  mix-blend-mode: luminosity;
  transition: filter 0.3s ease;

  &:hover,
  &:focus {
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
  }
}

.remove-book-cover {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.btn-modal-add-book,
.btn-modal-remove-book {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 28px;
  border: 2px solid $blue-color;
  border-radius: 40px;
  background-color: inherit;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: inherit;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $blue-color;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    padding: 20px 0;
  }
}

.btn-modal-remove-book {
  margin-bottom: 8px;
  padding-left: 23px;
  padding-right: 23px;
}

.btn-modal-add-book.is-hidden,
.remove-book-cover.is-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.remobe-btn-message {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 242px;
  font-size: 10px;
  line-height: calc(12 / 10);    
  text-align: center;
  color: rgba(17, 17, 17, 0.5);

  @media screen and (min-width: 768px) {
    max-width: 324px;
    padding: 0;
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}

