
        <div class="shop"></div>
        <div class="shop-card">
            <div>
                <!-- <img class="shop-card__img" src="${}" alt="${}" width="100" height="142" /> -->
            </div>
            <div class="shop-card___inform">
                <div class="shop-card__wrap-first">
                    <div class="shop-card__wrap-inform">
                        <h2 class="shop-card__name">name name name name name name</h2>
                        <p class="shop-card__category">category category category category</p>
                    </div>
                    <button class="shop-card__delete" type="button">
                        <svg class="shop-card__delete-svg" width="28" height="28">
                            <use href="./images/icons.svg#icon-delete"></use>
                        </svg>
                    </button>
                </div>
                <div class="shop-card__wrap-second">
                    <p class="shop-card__title">
                        August Pullman was born with a facial difference that, up until now, has prevented him from going ylu iugliuj uilud kyftd yuf kfyjtd liug ugluig 
                    </p>
                </div>
                <div class="shop-card__wrap-third">
                    <p class="shop-card__author">R.J. Palacio</p>
                    <ul class="market">
                        <li class="market__marketplace"><a href="">
                            <img srcset="./images/modal/image-1@1x.png 1x, ./images/modal/image-1@2x.png 2x" 
                            src="./images/modal/image-1@1x.png" alt="marketplace" width="32"
                                class="market__png market__png1" />
                        </a></li>
                        <li class="market__marketplace"><a href="">
                            <img srcset="./images/modal/image-2@1x.png 1x, ./images/modal/image-2@2x.png 2x"
                             src="./images/modal/image-2@1x.png"
                                alt="marketplace" width="16" class="market__png market__png2 " />
                        </a></li>
                        <li class="market__marketplace"><a href="">
                            <img srcset="./images/modal/image3-1x.png 1x, ./images/modal/image3-2x.png 2x" 
                            src="./images/modal/image3-1x.png"
                                alt="marketplace" width="16" class="market__png market__png3" />
                            </svg>
                        </a></li>
                    </ul> 
                </div>
            </div>
        </div> 

 
