<div class="sh-list__container sh-list__removeWraper">
  <div class="sh-list__books__support">
    <include src="./partials/side-bar/support.html">support</include>
  </div>
  <div class="sh-list__titleAndCard">
    <h1 class="shTitle">Shopping <span class="shTitle__List">List</span></h1>
    <div class="shopping-cart-is-empty">
      <p class="sh-list__default__masseg">
        This page is empty, add some books and proceed to order.
      </p>
      <div class="sh-list__books__containner">
        <picture class="sh-list__img__books">
          <source
            srcset="
              ./images/shopingListImg/emptyList-530.png 1x,
              ./images/shopingListImg/emptyList-644.png 2x
            "
            media="(min-width: 1200px)"
            type="png"
          />
          <source
            srcset="./images/shopingListImg/emptyList-322.png"
            media="(min-width: 768px)"
            type="png"
          />
          <source
            srcset="./images/shopingListImg/emptyList-265.png"
            media="(max-width:767px)"
            type="png"
          />
          <img src="./images/shopingListImg/emptyList-530.png" alt="books" />
        </picture>
      </div>
    </div>
    <ul class="books__list"></ul>
    <div class="button__from-tui">
      <div id="pagination" class="tui-pagination"></div>
    </div>
  </div>
</div>
