
.shTitle{
    //position: absolute;
    width: 193px;
    height: 38px;
    margin-left: 20px;
    margin-top: 40px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.1px;
    letter-spacing: -0.04em;
    
    color: #111111;
}

.shTitle__List{
    color:$blue-color;
}

.nullInList{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sh-list__default__masseg{
    //display: inline-block;
    width: 244px;
    height: 36px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    /* or 129% */
    
    text-align: center;
    letter-spacing: -0.02em;
    
    color: rgba(0, 0, 0, 0.6);
    
}

.sh-list__img__books {
    display: block;
    max-width: 100%;
    height: auto;
}

.sh-list__books__containner{
    width: 265px;
    //display: inline-block;
}

@media (min-width: 768px){
    .shTitle{
        width: 292px;
        height: 52px;
        font-size: 48px;
        line-height: 1;
    }

    .sh-list__default__masseg{
        width: 349px;
        height: 48px;
        font-size: 18px;
        line-height: 1.3;
    }
    .sh-list__books__containner{
        width: 322px;
    }
}


@media (min-width: 1440px){
    .sh-list__page{
        
    }
}
