.shop-card {
    display: flex;
    justify-content: space-between;
    max-width: 335px;
    height: 170px;
    padding: 14px;
    border: 2px solid rgba(79, 46, 232, 0.4);
    border-radius: 16px;
    @media screen and (min-width: 768px) {
            padding: 24px;
            max-width: 704px;
            height: 213px;
        }

    @media screen and (min-width: 1200px) {
        max-width: 996px;
    }
    &__img{
        display: block;
        border-radius: 8px;
        @media screen and (min-width: 768px) {
               width: 116px;
            }
    }

    &__inform {
            margin-left: 14px;

            @media screen and (min-width: 768px) {
                margin-left: 24px;
                }
        }
    
        &__wrap-first {
            display: flex;
            justify-content: space-between;
        }
    
        &__name {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 144px;
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: -0.04em;
            text-transform: uppercase;
            margin-bottom: 4px;
            @media screen and (min-width: 768px) {
                    max-width: 450px;
                }
        }
    
        &__category {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 165px;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.03em;
            color: $text-gray-color;
            margin-bottom: 8px;
            @media screen and (min-width: 768px) {
                    max-width: 450px;
                    margin-bottom: 14px;
                }
        }
    
        &__delete {
            padding: 0;
            height: 29px;
            width: 29px;
            border: none;
            border-radius: 50%;
            @media screen and (min-width: 768px) {
                    height: 33px;
                    width: 33px;
                }
        }
        &__delete-svg{
            fill: $blue-color;
            transition: $cubic-time;
            &:hover,
            &:focus{
             fill: $dark-color;   
            }
            @media screen and (min-width: 768px) {
                width: 34px;
                height: 34px;
            }
        }
        &__wrap-second{
            margin-bottom: 29px;
            @media screen and (min-width: 768px) {
                    margin-bottom: 32px;
                }
           
        }
        &__title{
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 193px;
            height: 53px;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: -0.04em;
            @media screen and (min-width: 768px) {
                    height: 53px;
                    max-width: 508px;
                }
            @media screen and (min-width: 1200px) {
                max-width: 808px;
            }
        }
        &__wrap-third{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        &__author{
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: -0.04em;
            color: $text-gray-color;
        }
}


.market{
    display: flex;
    align-items: baseline;
    @media screen and (min-width: 768px) {
            align-items: center;
        }
    &__marketplace{
        margin-right: 8px;
        @media screen and (min-width: 768px) {
                margin-right: 16px;
            }
        &:nth-last-child(-n+1) {
                margin-right: 0px;
            }
    }
    &__png{
        filter: grayscale(100%);
        transition: $cubic-time;
        &:hover,
        &:focus{
            filter: grayscale(100%) drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
        }
      
    }
    &__png1{
        @media screen and (min-width: 768px) {
                width: 48px;
            }
    }
    &__png2{
        @media screen and (min-width: 768px) {
                width: 28px;
            }
    }
    &__png3{
        @media screen and (min-width: 768px) {
                width: 32px;
            }
    }

   
}