// @media screen and (min-width: 768px) {
//   max-width: none;
//   width: 768px;
//   padding: 0px 32px;
// }

// @media screen and (min-width: 1440px) {
//   width: 1440px;
//   padding: 0px 24px;
// }

.home-collection {
  width: 100%;
  &__h1 {
    visibility: hidden;
  }

  &__title {
    margin: 40px 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.19;
  }

  &__title--last-word {
    color: $blue-color;
  }

  &__categories-list--topBooks {
    align-items: center;
    gap: 25px;
    row-gap: 40px;
    display: flex;
    flex-wrap: wrap;
  }

  &__categories-list--oneCategory {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    gap: 25px;
    justify-content: space-around;
    align-items: center;
  }
}

.category {
  &__title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text-gray-color;
    margin-bottom: 18px;
  }

  &__books-list {
    display: flex;
    column-gap: 24px;
  }

  &__button {
    width: 124px;
    height: 46px;
    display: block;
    margin-left: auto;
    margin-top: 20px;
    padding: 14px 18px;
    border-color: $blue-color;
    border-radius: 40px;
    background-color: $white-color;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.29;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    &:hover,
    &:focus {
      color: $white-color;
      background-color: $blue-color;
      box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
      transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
        color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.book {
  // ------ значення вказано доки немає обрізки довжини рядка назви
  width: 335px;
  @media screen and (min-width: 768px) {
    width: 218px;
  }
  @media screen and (min-width: 1440px) {
    width: 180px;
  }

  // ----
  &__link {
  }

  &__frame {
    border-radius: 8px;
    background-color: $primary-background-color;
    position: relative;
    overflow: hidden;
    &:hover::before {
      opacity: 1;
    }
  }

  &__image {
    width: 335px;
    height: 485px;
    border-radius: 8px;
    margin-bottom: 14px;
    @media screen and (min-width: 768px) {
      width: 218px;
      height: 316px;
    }
    @media screen and (min-width: 1440px) {
      width: 180px;
      height: 256px;
    }
  }

  &__title {
    margin-bottom: 4px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.125;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: $dark-color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__author {
    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.04em;
    color: $text-gray-color;
  }

  &__overlay {
    background-color: $yellow-color;
    display: inline-block;
    position: absolute;
    padding: 26px 0;
    border-radius: 0 0 8px 8px;
    content: ' ';
    bottom: 0;
    right: 0;
    width: 100%;
    height: 70px;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .book__link:hover & {
      transform: translateY(0);
    }
  }

  &__view {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28571;
  }
}
