body {
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  letter-spacing: -0.04em;

  color: $dark-color;
  background-color: $primary-background-color;
  transition: background-color $cubic-time;

  &.modal-open {
    overflow: hidden;
    height: 100vh;
  }
}

html.dark-theme, .dark-theme body {
  background-color: $dark-gray-color;
  color: #fff;
}

.dark-theme .modal-for-book{
  background-color: $dark-gray-color;
}


.dark-theme a {
  color: #ffffff;
  fill: white;
}

.dark-theme li {
  color: #ffffff;
}

.dark-theme h1 {
  color: #ffffff;
}

.dark-theme h3 {
  color: #ffffff;
}

.dark-theme p {
  color: #ffffff;
}

.dark-theme header {
  background-color: $dark-gray-color;
  border: 1px solid #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}


ul, li {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}


html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}
