.header__close-btn {
  display: none;
}

.header-nav-list {
  display: none;

  @media screen and (min-width: 767px) {
    display: block;
    position: absolute;
    left: 160px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  min-width: 375px;
  height: 64px;
  border: 1.5px solid $dark-color;
  border-radius: 0 0 8px 8px;
  background: $primary-background-color;
}

.header__toggle-menu {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header__switch-btn {
  display: inline-block;
  width: 40px; /* ширина */
  height: 20px; /* высота */
  border-radius: 19px; /* радиус скругления */
  background: $white-theme-switcher-linear-gradient; /* цвет фона */
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms; /* анимация */
}

.header__switch-btn::after {
  content: '';
  height: 18px; /* высота кнопки */
  width: 20px; /* ширина кнопки */
  border-radius: 17px;
  background: $theme-switcher-linear-gradient; /* цвет кнопки */
  top: 1px; /* положение кнопки по вертикали относительно основы */
  left: 1px; /* положение кнопки по горизонтали относительно основы */
  transition-duration: 300ms; /* анимация */
  position: absolute;
  z-index: 1;
}

.header__switch-on {
  background: $dark-theme-switcher-linear-gradient;
}

.header__menu button {
  border: none;
  background: transparent;

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.header__dark-theme {
  background-color: $dark-color;
}

.header__burderSvg-dark {
  fill: $primary-background-color;
}

.header__closeSvg-dark {
  fill: $primary-background-color;
}

.header__link-light {
  color:  white;
}

.header__switch-on::after {
  left: 20px;
}

.sighUp-btn {
  display: none;

  @media screen and (min-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $blue-color;
    border-radius: 20px;
    color: $white-color;
    padding: 14px;
    border: none;
    cursor: pointer;
    width: 184px;
    height: 45px;
    font-size: 14px;
    border: 1.5px solid #111111;
    border-radius: 18px;
    margin-right: -24px;
  }
}

.header-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  padding: 8px 16px;
  color: $dark-color;
  border-radius: 36px;
  display: flex;
  align-items: center;
  gap: 8px;
}

a.header-home.header-active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  width: 72px;
  height: 34px;
  background: $yellow-color;
  border-radius: 36px;
}

a.header-shopping.header-active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 16px;
  gap: 8px;
  width: 156px;
  height: 34px;
  background: $yellow-color;
  border-radius: 36px;
}
