.header__close-btn {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }
}

.header-nav-list {
  display: none;

  @media screen and (min-width: 767px) {
    display: block;
    position: absolute;
    left: 160px;
  }
}

.header__container {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  min-width: 375px;
  height: 64px;
  border: 1.5px solid $dark-color;
  border-radius: 0 0 8px 8px;
  background: $primary-background-color;
}

.header__buttons-menu {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header__toggle {
  display: inline-block;
  width: 40px; /* ширина */
  height: 20px; /* высота */
  border-radius: 19px; /* радиус скругления */
  background: $white-theme-switcher-linear-gradient; /* цвет фона */
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms; /* анимация */
}

.header__toggle::after {
  content: '';
  height: 18px; /* высота кнопки */
  width: 20px; /* ширина кнопки */
  border-radius: 17px;
  background: $theme-switcher-linear-gradient; /* цвет кнопки */
  top: 1px; /* положение кнопки по вертикали относительно основы */
  left: 1px; /* положение кнопки по горизонтали относительно основы */
  transition-duration: 300ms; /* анимация */
  position: absolute;
  z-index: 1;
}

.header__toggle-on {
  background: $dark-theme-switcher-linear-gradient;
}

.header__menu button {
  border: none;
  background: transparent;

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.header__dark-theme {
  background-color: $dark-color;
}

.header__burderSvg-dark {
  fill: $primary-background-color;
}

.header__closeSvg-dark {
  fill: $primary-background-color;
}

.shop__iconSvg-dark {
  fill: $dark-color;
}

.dark-theme.header__link {
  color: $dark-color;
}

.header__link-light {
  color: white;
}

.header__toggle-on::after {
  left: 20px;
}

.sighUp-btn {
  display: none;

  @media screen and (min-width: 767px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $blue-color;
    border-radius: 20px;
    color: $white-color;
    padding: 14px;
    border: none;
    cursor: pointer;
    width: 184px;
    height: 45px;
    font-size: 14px;
    border: 1.5px solid #111111;
    border-radius: 18px;
    // margin-right: -24px;
  }
}

.header-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  padding: 8px 16px;
  color: $dark-color;
  border-radius: 36px;
  display: flex;
  align-items: center;
  gap: 8px;
}

a.header-home.header-active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  width: 72px;
  height: 34px;
  background: $yellow-color;
  border-radius: 36px;
}

a.header-shopping.header-active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 16px;
  gap: 8px;
  width: 156px;
  height: 34px;
  background: $yellow-color;
  border-radius: 36px;
}

// ___________________________________
.menu-container.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-container {
  position: fixed;
  top: 60px;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20;
  background-image: url('/src/images/mobile-modal-menu/group-6@1x.png'),
    url('/src/images/mobile-modal-menu/group-6@2x.png'),
    radial-gradient(
      183.6% 183.01% at 59.76% -23.42%,
      #4f2ee8 18.03%,
      #ffffff 100%
    );
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  z-index: 999;
  border-radius: 8px 8px 0 0;

  transform: translateX(110%);
  transition: transform 250ms;

  @media (min-width: 768px) {
    display: none;
    transform: translateX(0);
    top: 64px;
  }

  &.is-open {
    transform: translateX(0);
    top: 64px;
  }
}

.menu-items {
  display: flex;
  margin-left: 109px;
  justify-content: center;
  flex-direction: column;
  gap: 16px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: $white-color;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.mobile-nav {
  margin-top: 163px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
  flex-direction: column;
  justify-content: center;

  align-items: flex-start;
  gap: 25px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;

  display: flex;

  &__home {
    padding: 8px 16px;
    gap: 10px;
    width: 72px;
    height: 34px;
    color: $dark-color;
    background-color: #eac645;

    border-radius: 36px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }

  &__shopping {
    border-radius: 36px;
    align-items: center;
    gap: 7px;
    display: flex;
    fill: #eac645;
    transition: color 0.3s ease;
  }
  &__home:hover,
  &__home:focus {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
    background-color: #f3d24d;
  }
  &__shopping:hover,
  &__shopping:focus,
  &__icon:hover,
  &__icon:focus {
    color: #eac645;
    fill: currentColor;
  }
  &__icon {
    padding-left: 4px;
    fill: #ffffff;
  }
}

// body, html {
//   overflow-x: hidden;
// }
