
  // @media screen and (min-width: 375px) {

  // }


  // @media screen and (min-width: 768px) {

  // }

  // @media screen and (min-width: 1440px) {

  // }


.header-sighUp {
  display: none;
}

.header {
  border: 1.5px solid $dark-color;
  border-radius: 0 0 8px 8px;
  padding: 18px 20px;
}

.header-wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

form > div {
  margin: 40px 0;
}

.header-toggle input {
  opacity: 0;
}

.header-toggle label {
  cursor: pointer;
  width: 40px;
  height: 20px;
  background: $white-theme-switcher-linear-gradient;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  display: inline-block;
  position: relative;
}

.header-toggle label:after {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  background: $white-color;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: left 0.3s ease-out;
}

.header-toggle input[id='togle-swith']:checked + label:after {
  left: 21px;
}

.header-toggle input[id='togle-swith']:checked + label {
  background: $dark-theme-switcher-linear-gradient;
}

.header-navbar {
  position: fixed;
  top: 0;
  left: 100%;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: $primary-background-color;
  transition: left 0.3s;
}

.header-navbar.show {
  left: 0 !important;
}

.hide-scroll {
  overflow: hidden;
}

.header-navbar ul {
  all: unset;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.header-navbar ul a {
  all: unset;
  color: $dark-color;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 28px;
}

// .header-close-nav a {
//   left: 20px;
// }

.header-close-nav {
  display: flex;
  justify-content: space-between;
  border: 1.5px solid #111;
  border-radius: 0 0 8px 8px;
  padding: 18px 20px;
  text-align: right;
}

.header-close-nav button {
  padding: 0;
  border: none;
  background: $primary-background-color;
  cursor: pointer;
}

.header-close-nav button:hover {
  color: $dark-gray-color;
  background: white;
}

.active,
.header-current:hover {
  background-color: $yellow-color;
  color: $dark-color;
  
a.header-home.header-active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  width: 72px;
  height: 34px;
  background: $yellow-color;
  border-radius: 36px;
}

a.header-shopping.header-active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 16px;
  gap: 8px;
  width: 156px;
  height: 34px;
  background: $yellow-color;
  border-radius: 36px;
}

.header-controls {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header-menu button {
  border: none;
  background: $primary-background-color;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header-sighUp {
    display: block;
  }
  .header-navbar {
    all: unset;
    display: block;
  }
  .header-navbar ul {
    flex-direction: row;
    gap: 20px;
  }
  .header-navbar ul a {
    font-size: inherit;
  }
  .header-close-nav,
  .header-menu {
    display: none;
  }
}

.sighUp-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $blue-color;
  border-radius: 20px;
  color: $white-color;
  padding: 14px;
  margin: 12px 24px;
  border: none;
  cursor: pointer;
  width: 184px;
  height: 48px;
  font-size: 14px;
  border: 1.5px solid #111111;
  border-radius: 18px;
}
}