header {
  padding: 10px 20px;
}

header .header-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  position: fixed;
  top: 0;
  left: 100%;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  padding: 10px;
  transition: left 0.3s;
}

.navbar.show {
  left: 0 !important;
}

.hide-scroll {
  overflow: hidden;
}

.navbar ul {
  all: unset;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.navbar ul a {
  all: unset;
  color: #444444;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  font-size: 28px;
}

.navbar ul a:hover {
  color: #111111;
  text-decoration: underline overline;
  text-decoration-thickness: 3px;
}

.close-nav {
  text-align: right;
  margin-bottom: 20px;
}

.close-nav button {
  border: none;
  background: #f6f6f6;
  cursor: pointer;
}

.close-nav button:hover {
  color: #222222;
  background: white;
}

.header-controls {
  display: flex;
  align-items: center;
}

.menu-bar button {
  border: none;
  background: #f6f6f6;
  cursor: pointer;
}

.menu-bar i {
  display: block;
  border-top: 3px solid #444444;
  border-bottom: 3px solid #444444;
}

.menu-bar i::after {
  display: block;
  content: '';
  border-top: 3px solid #444444;
  margin: 6px 0;
}

.menu-bar button:hover {
  background: white;
}

.menu-bar button:hover i {
  border-color: #222222;
}

.container {
  // max-width: 900px;
  margin: 0 auto;
  padding: 30px;
}

@media (min-width: 550px) {
  .navbar {
    all: unset;
    display: block;
  }
  .navbar ul {
    flex-direction: row;
    gap: 20px;
  }
  .navbar ul a {
    font-size: inherit;
  }
  .close-nav,
  .menu-bar {
    display: none;
  }
}
