.scroll-up {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.scroll-up__arrow {
  position: absolute;
  left: 20px;
  top: 20px;
  fill: $yellow-color;
}

.scroll-up--active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
